.NavBar{
    align-items: center;
}
.NavBar{
    text-align: center;
}
button{
    width: 100px;
    width: 140px;
    height: 40px;
    border-radius: 0%;
    border: none;
    /* margin-right: 1%; */
    cursor: pointer;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    background-color: bisque;
}
td{
    width: 100px;
}
/* form{
    margin-left: 30%;
} */
/* form{
    border: solid bold gray;
    
} */
.formElement{
    margin-left: -50px;
}
div{
    text-align: center;
}
